<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>notes-cli</string>
	<key>CFBundleIdentifier</key>
	<string>pl.speedwave.desktop.notes</string>
	<key>CFBundleName</key>
	<string>notes-cli</string>
	<key>CFBundleShortVersionString</key>
	<string>0.18.1</string> <!-- x-release-please-version -->
	<key>CFBundleVersion</key>
	<string>0.18.1</string> <!-- x-release-please-version -->
	<key>NSAppleEventsUsageDescription</key>
	<string>Speedwave needs to send Apple Events to automate Notes via Claude Code.</string>
</dict>
</plist>
