* text=auto eol=lf

*.bat        text eol=crlf
*.cmd        text eol=crlf

*.png        binary
*.icns       binary
*.ico        binary
*.woff2      binary
*.zip        binary
*.wasm       binary
*.db         binary
*.exe        binary
*.dll        binary
*.so         binary
*.dylib      binary
*.pem        binary
*.p12        binary
*.pfx        binary
*.crt        binary
*.cer        binary
*.der        binary
*.gpg        binary
